<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Glizzy</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <section class="container"id="home">
        <center>
            <span class="badges_support">Suporte 🎉</span>
            <h1 class="title">Glizzy Bot</h1>
            <p class="content p_one animate">Un bot que cuidara tú Servidor de raids, o cualquier ataque que intente hacer a tú(s) servidor(es)</p>
            </center>

    </section>


    <section id="services">
        <center>

            <h1>Services</h1>
        </center>
        <div class="cards">
            <div class="card-services">
                <div class="card-body">
                    <i class="fa-solid fa-coins"></i>
                    <h3>System Economy</h3>
                    <p>Sistema de Economía global y local</p>
                </div>
            </div>
            <div class="card-services">
                <div class="card-body">
                    <i class="fa-solid fa-screwdriver-wrench"></i>
                    <h3>AutoMod</h3>
                    <p>Cuenta con un sistema de AutoMod</p>
                </div>
            </div>
            <div class="card-services">
                <div class="card-body">
                    <i class="fa-solid fa-code"></i>
                    <h3>Raid System</h3>
                    <p>El bot cuanta con un sistema de Raid </p>
                </div>
            </div>
        </div>
    </section>

    <footer>

        <div class="container__footer">
            <div class="box__footer">
                <div class="logo">
                    <img src="Images/logo.png" alt="">
                </div>
                <div class="terms">
                    <p>Glizzy Squad</p>
                </div>
            </div>
            <div class="box__footer">
                <h2>Soluciones</h2>
                <a href="#">Tickets</a>
                <a href="#">Discord Support</a>

            </div>

            <div class="box__footer">
                <h2>Compañia</h2>
                <a href="#">Acerca de</a>
                <a href="#">Panel</a>
                <a href="#">Anuncios</a>
                <a href="#">Servicios</a>              
            </div>

            <div class="box__footer">
                <h2>Redes Sociales</h2>
                <a href="#"> <i class="fab fa-facebook-square"></i> Facebook</a>
                <a href="#"><i class="fab fa-twitter-square"></i> Twitter</a>
                <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
                <a href="#"><i class="fab fa-instagram-square"></i> Instagram</a>
            </div>

        </div>

        <div class="box__copyright">
            <hr>
            <p>Todos los derechos reservados © 2024 <b>Equipo CRAFT</b></p>
        </div>
    </footer>
           <script src="https://kit.fontawesome.com/7c57511d7d.js" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
</body>

</html>